body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#canvas {
    height: 90%;
    display: block;
}

#repeated-background {
    height: 100%;
    background-image: url("ground.png");
    background-repeat: repeat-x;
    background-position: 0 0;
}